<!--The content below is only a placeholder and can be replaced.-->
<body dir="rtl">
<div *ngIf="!isLoggedIn">
  <h1>ערב טוב, פרטנר</h1>
  <h3>ברוכים הבאים לאיזור האישי החדש</h3>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="form-group">
        <label for="id" class="control-label col-sm-2">תעודת זהות</label>
        <div class="col-sm-10">
          <input type="text" pattern="[0-9]*" formControlName="id" class="form-control"/>
        </div>
        <div *ngIf="!isSubmitted && loginForm.controls.id.errors">
            <div *ngIf="loginForm.controls.id.errors.pattern">שדה זה יכול להכיל ספרות בלבד</div>
        </div>
        <div *ngIf="isSubmitted && loginForm.controls.id.errors">
            <div *ngIf="loginForm.controls.id.errors.required">זהו שדה חובה</div>
            <div *ngIf="loginForm.controls.id.errors.idDoesNotExist">"{{loginForm.controls.id.errors.idDoesNotExist}}</div>
            <div *ngIf="loginForm.controls.id.errors.israeliId">{{loginForm.controls.id.errors.israeliId}}</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">התחבר</button>
    </div>
</form>
</div>
<div *ngIf="isLoggedIn">
    <button class="btn btn-primary"(click)='logOut()'>התנתק</button>
</div>
<router-outlet></router-outlet>

</body>
